<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MilkStgo</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #543D37;
    }
  </style>
  <div class="container">
    <h1 align = center style="color: white"><b1>MilkStgo</b1></h1>
  </div>
</head>
<body>
<div class="d-grid gap-2">
  <a class="btn btn-light" type="button" href="/proveedores">Ver Proveedores</a>
  <a class="btn btn-light" type="button" href="/subirArchivo">Subir Archivo</a>
  <a class="btn btn-light" type="button" href="/planillas">Calcular Pagos</a>
</div>

</body>
</html>